// @import 'libs/bootstrap-reboot.min';
@import "base/zero";
@import "base/variables";
@import "libs/slick";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // transition: all .3s ease-in;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.center {
    display: block;
    margin: 0 auto;
    text-align: center
}

@import "block/promo";
@import "block/contact";
@import "block/header";
@import "block/logo";
@import "block/buttons";
@import "block/advantages";
@import "block/title";
@import "block/job";
@import "block/line";
@import "block/agent";
@import "block/round";
@import "block/variant";
@import "block/consultation";
@import "block/manager";
@import "block/schema";
@import "block/reviews";
@import "block/carousel";
@import "block/questions";
@import "block/form";
@import "block/map";
@import "block/footer";
@import "block/chevron";
@import "block/modal";
@import "base/media";
