.agent {
    min-height: 342px;
    // background: url("../img/background_2.png") center (center/cover) no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 58px 0 74px 0;
    &__title {
        text-align: center;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 20px;
    }
    &__description {
        max-width: 985px;
        margin: 0 auto;
        text-align: center;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
    }
}