.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #dc5238;
    }
    &:focus {
        border: 1px solid #ffffff ;
        outline: none;
    }
    &_medium {
        width: 180px;
        height: 45px;
    }
    &_large {
        width: 230px;
        height: 57px;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
    }
}