.consultation {
    min-height: 350px;
    padding-bottom: 58px;
    &__subtitle {
        text-align: center;
        font-size: 28px;
        line-height: 23px;
        font-weight: 400;
        color: #3a3a3a;
        text-align: center;
        margin-bottom: 20px;
    }
}