.form {
    padding: 17px 40px 25px 38px;
    background-color: rgba(255,255,255, .7);
    &__input {
        width: 270px;
        height: 47px;
        border-radius: 35px;
        padding-left: 28px;
        border: 1px solid rgba(0,0,0,0.2);
        margin-bottom: 6px;
    }
    &__textarea {
        width: 100%;
        min-height: 73px;
        border-radius: 5px;
        margin-bottom: 16px;
        border-radius: 7px;
        resize: none;
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.2);
    }
}
