.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
    .logo {
        width: 96px;
        height: 100px;
        img {
            width: 100%;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    &__item {
        padding-right: 14px;
        border-right: 1px dotted rgba(255, 255, 255, 0.4);
        margin-right: 14px;
        &:last-child {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }
    }
    &__link {
        font-size: 15px;
        line-height: 16px;
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
        background:linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
        background-size:0 1px;
        transition: background 250ms ease 0s;
        &:hover {
           color: $main-color;
           background-size:100% 1px;
        }
    }
    &__hamburger {
        display: none;
    }
}
