.promo {
    min-height: 680px;
    background: url("../img/airplane.png") center (center/cover) no-repeat;
    padding: 23px 0 82px 0;
    &__global {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin-bottom: 26px;
    }    
    &__header {
        font-size: 72px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 9px;    
    }
    &__subheader {
        font-size: 42px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 38px; 
    }
    &__atribute {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10px;
        margin-bottom: 27px;
    }
    &__line {
        width: 390px;
    }
    &__bull {
        font-size: 42px;
        color: #ffffff;
        margin-left: 12px;
        margin-right: 12px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 39px;
    }
    &__item {
        align-items: center;
        width: 260px;
        text-align: center;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    &__description {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: #ffffff;
    }
    button {
        display: block;
        margin: 0 auto;
    }
}